{% extends "core/base.html"%}
{% block content %}
{% load static %}
{% include 'services/menu_services.html'%}
    {% for service in object_list %} {% comment %} {% for service in services %}  {% endcomment %}
        <section class="page-section">
            <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex mr-auto rounded">
                    <h2 class="section-heading mb-0">
                    <span class="section-heading-upper">{{service.title}}</span>
                    <span class="section-heading-lower">{{service.subtitle}}</span>
                    </h2>
                </div>
                </div>
                <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{service.image.url}}" alt="">
                <div class="product-item-description d-flex ml-auto">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">{{service.content|safe}}</p>
                    <br>
                    {% if request.user.is_staff %}
                        <a class="btn btn-light" href="{% url 'services:service_detail' service.id %}">Ver Detalle</a>
                        <br>
                        <br>
                        <a class="btn btn-light" href="{% url 'services:update' service.id %}">Actualizar Servicio</a>
                        <br>
                        <br>
                        <a class="btn btn-light" href="{% url 'services:delete' service.id %}">Eliminar Servicio</a>
                    {% endif %}
                </div>
                </div>
            </div>
            </div>
        </section>
    {% endfor %}
    <div class="container">
        <ul class="pagination pagination-lg">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page1">&laquo; 1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a>
                </li>
            {% endif %}
            <li class="page-item"> <span class="page-link">
                {{page_obj.number}} de {{page_obj.paginator.num_pages}} </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
                </li>  
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="?page={{page_obj.paginator.num_pages}}">{{page_obj.paginator.num_pages}} &raquo;</a>
                </li>  
        </ul>
    </div>

{% endblock %}